body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  color: #000000;
  background-color: #FFFFFF;
}

.ui-noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.ui-layer-panel {
  color: #FCFCFC;
  background: #383838;
}

div.ui-layer-header {
  margin: 0;
  padding: 5px 0 5px 18px;
}

ul.ui-layer-container {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: inside;
}

li.ui-layer {
  margin: 0;
  padding: 0 0 0 15px;
  width: 400px;
  height: 40px;
  line-height: 40px;
  background: #535353;
  border: 1px solid #323232;
  list-style: none;
  list-style-position: inside;
}

.ui-visible {
  margin: 0;
  padding: 0;
  height: 40px;
  width: 40px;
}

.ui-invisible {
  margin: 0;
  padding: 0;
  height: 40px;
  width: 40px;
}

.ui-locked {
  margin: 0;
  padding: 0;
  height: 40px;
  width: 40px;
}

.ui-unlocked {
  margin: 0;
  padding: 0;
  height: 40px;
  width: 40px;
}

.chart div {
  padding: 5px;
  margin: 3px;
  text-align: right;
  color: white;
  background: steelblue;
}

li > button {
  margin: 0;
  padding: 0 5px 0 5px;
  float: right;
  height: 40px;
}

li > span {
  margin: 0;
  padding: 0;
  height: 100%;
  /* line-height: 40px; */
  /* vertical-align: middle; */
}

#chart-example {
  position: absolute;
  float: left;
  left: 0;
  width: 50%;
  margin: 0;
  padding: 10px 10px 10px 20px;
}

#layers-panel-example {
  position: absolute;
  float: right;
  right: 0;
  margin: 0;
  padding: 20px 20px 20px 20px;
}
